[Unit] 
Description=Growbe mainboard process
After=network.target 
StartLimitIntervalSec=0 

[Service] 
Type=simple 
Restart=always 
RestartSec=1
Environment="RUST_LOG=growbe_mainboard"
WorkingDirectory=/opt/growbe/growbe-mainboard
ExecStart=/opt/growbe/growbe-mainboard/growbe-mainboard ./mainboard_config.json

[Install] 
WantedBy=multi-user.target