[Unit] 
Description=Growbe mainboard process
After=network.target 
StartLimitIntervalSec=0 

[Service] 
Type=simple 
Restart=always 
RestartSec=1
User=pi
Environment="RUST_LOG=growbe_mainboard"
WorkingDirectory=/home/pi
ExecStart=/home/pi/growbe-mainboard ./mainboard_config.json

[Install] 
WantedBy=multi-user.target